@charset "utf-8";

* {
  padding: 0;
  margin: 0;
}


body {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
}

.container {
	margin-top: 20px;
	margin-bottom: 20px;
}

.images-6{
	height: 250px;
	width: 500px;
	padding-left: 45px
}

.half {
	width: 550px;
}




